<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
th:replace="base::layout(~{::h4})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
	<link th:rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>

    
	<h4><b>Contact page</b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta adipisci quasi eum eaque in quod impedit necessitatibus. Vel repellendus quia provident dolorem earum sit reiciendis ratione nam nobis harum numquam officiis est rerum quae iste rem accusantium placeat delectus. Sapiente officiis ut rem ratione quod magni officia. Inventore placeat adipisci!</h4>

</body>
</html>