<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Footer</title>
</head>
<body>
<footer id=fragmenttag th:fragment=footer1>
<div class=container>
<h1>this is footer class </h1>
<p>footer fragment</p>
<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias illum a fuga minus sunt atque architecto repellendus aliquid recusandae ipsa tempore magni obcaecati distinctio ab excepturi quisquam reiciendis voluptas repudiandae!</h4>
   
</div>
	</footer>
</body>
</html>